.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.cart-icon{
  cursor: pointer;
  font-size: 3rem;
  color: rgb(255, 208, 0);
}
.closer {
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 2;
}

.styledHeader1 {
  text-shadow: 2px 0 0 #000, 0 -2px 0 #000, 0 2px 0 #000, -2px 0 0 #000;
  width: 50%;
  padding: 2rem;
  color: white;
  font-size: 6rem; 
  margin-bottom: 27rem;
  margin-top: 13rem;
}

.heightChange{
  height: 20rem;
}
.border {
  border: 2px solid blue;
}
.cartColumns {
  font-size: 2rem;
}
.addedBorder{
  border-bottom: 2px solid #00bfff;
}
.blueText{
  color: #00bfff;
}
.largeHeader{
  font-size: 6rem;
  border-bottom: 2px solid #000000;
}

@media only screen and (max-width: 400px) {
  .heightChange{
    height: 20rem !important;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
